.cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2rem;

  .alinhamento-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;

    .label-busca {
      display: flex;
      flex-grow: .5;
      justify-content: space-between;
      align-items: center;
      border: 1px solid var(--cinza-escuro);
      padding: .5rem 1rem;
      border-radius: 2rem;
      gap: 1rem;

      input {
        border: none;
        outline: none;
        width: 100%;
      }

      .icone-busca {
        display: flex;
        align-items: center;

        &::after {
          content: "";
          position: relative;
          background-image: url('../assets/icones/busca.png');
          background-repeat: no-repeat;
          cursor: pointer;
          width: 1.125rem;
          height: 1.125rem;
        }
      }
    }

    .botao-login {
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      gap: .5rem;
    }
  }

  .navegacao {
    align-content: center;

    .menu-lista {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1rem 0;

      .menu-link {
        text-decoration: none;
        color: var(--cinza-escuro);
        position: relative;
        padding-bottom: .25rem;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 2px;
          background-color: var(--cinza-escuro);
          transition: width .3s ease;
        }

        &:hover::after,
        &:focus::after {
          width: 100%;
        }
      }
    }
  }
}
