.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  padding: var(--padding-5xl) 0;
  width: 100%;
  background-color: var(--cor-secundaria-light);

  @media (max-width: 600px) {
    padding: var(--padding-xl) var(--padding-lg);
    box-sizing: border-box;
  }

  h2 {
    color: var(--cor-primaria-light);

    @media (max-width: 600px) {
      text-align: center;
    }
  }

  p {
    font-size: var(--font-size-md);

    @media (max-width: 600px) {
      text-align: center;
      line-height: var(--line-height);
    }
  }

  .formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--gap-md);

    .formulario-input {
      padding: var(--padding-sm) var(--padding-lg);
      border: 1px solid var(--cor-neutra-dark);
      background-color: transparent;
      flex: 1 0 200px;
      border-radius: 2rem;

      &:user-valid {
        border: 2px solid var(--cor-terciaria-dark);
      }

      &:user-invalid {
        border: 2px solid var(--cor-primaria-dark);
      }
    }

    .botao-enviar {
      padding: var(--padding-sm) var(--padding-lg);
      background-color: var(--cor-primaria-light);
      color: var(--cor-neutra-light);
      border: none;
      border-radius: 2rem;
      cursor: pointer;
      font-size: var(--font-size-md);
    }

    .grupo-opcoes {
      display: flex;
      align-items: center;
      gap: var(--gap-sm);
      flex-wrap: wrap;

      @media (max-width: 600px) {
        span:first-child {
          width: 100%;
          margin: 1rem 0;
        }
      }

      .opcao {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        padding-left: var(--padding-xl);

        @media (max-width: 600px) {
          margin: .25rem;
        }
      }

      .opcao input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;

        +span {
          position: absolute;
          left: 0;
          width: 20px;
          height: 20px;
          border: 1px solid var(--cor-neutra-dark);
          background-color: transparent;
          border-radius: .25rem;
        }

        &:checked+span {
          background-color: var(--cor-primaria-light);
        }
      }
    }
  }
}