.servicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-3xl);
  width: 100%;
  padding: var(--padding-5xl) 0;

  .servicos-titulo {
    color: var(--cor-primaria-light);
  }

  .servicos-lista {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-md);

    >li>.link {
      position: relative;
      background-color: var(--cor-secundaria-light);
      text-decoration: none;
      border-radius: 1rem;
      padding: var(--padding-sm) var(--padding-lg);
      font-family: var(--sigmar);
      font-size: var(--font-size-lg);
      color: var(--cor-primaria-light);
      transition: all .3s ease;
    }

    .link::before {
      content: "";
      position: absolute;
      left: -10px;
      bottom: 50%;
      width: 35px;
      height: 28px;
      background-repeat: no-repeat;
      background-size: contain;
      transform: scale(0);
      transition: transform .3s ease, left .3s ease;
    }

    .banho-e-tosa>.link::before {
      background-image: url('../assets/icones/banho-e-tosa.png');
    }

    .hospedagem>.link::before {
      background-image: url('../assets/icones/hospedagem.png');
    }

    .veterinario>.link::before {
      background-image: url('../assets/icones/veterinario.png');
    }

    .adestramento>.link::before {
      background-image: url('../assets/icones/adestramento.png');
    }

    .petsiter>.link::before {
      background-image: url('../assets/icones/petsiter.png');
    }

    >li>.link:hover {
      transform: scale(1.05);
      transition: transform .3s ease-in;
      padding-left: 3.2rem;
    }

    .link:hover::before {
      transform: scale(1) translateY(50%);
      left: .5rem;
    }
  }
}