:root {
  /* Familias */
  --sigmar: 'Sigmar', sans-serif;
  --poppins: 'Poppins', sans-serif;

  /* Sigmar */
  --heading-1: 4.5rem;
  --heading-2: 2.635rem;
  --heading-3: 2.438rem;
  --heading-4: 1.938rem;
  --heading-5: 1.563rem;

  /* Poppins */
  --body-large: 1.25rem;
  --body-medium: 1rem;
  --body-small: .813rem;
}